@font-face{
    font-family: 'AveReg';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../assets/fonts/Alt-files/AvenirNextLTPro.ttf') format('truetype')
}
@font-face{
    font-family: 'AveBold';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
    url('../../assets/fonts/Alt-files/AvenirNextLTProBold.ttf') format('truetype')
}