@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/fonts' as *;

.header{
    @include widthSet(100%, null, 100%);
    @include heightSet(1.5rem, null, null);
    @include flexboxSet(row, center, 1rem);
    @include sectionPadding;
    box-sizing: border-box;
    align-items: center;
    position:relative;
    &__locationIcon{
        @include heightSet(1.25rem, null, 1.25rem);
        @include widthSet(1.25rem, null, 1.25rem);
        left: 1.56rem;
        color: #1E6598;
        @media (min-width: $screenBreak-tablet) {
            @include heightSet(2.18rem, null, 2.18rem);
            @include widthSet(2.18rem, null, 2.18rem);
        }
    }
    &__locationName{
        margin: 0;
        @include subheader-fontSet;
    }
}