@font-face {
  font-family: "AveReg";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alt-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "AveBold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alt-files/AvenirNextLTProBold.ttf") format("truetype");
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
@media (min-width: 768px) {
  .main {
    gap: 1rem;
    justify-content: center;
  }
}
.main__hero {
  width: 100%;
  max-width: 100%;
  height: 70%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
}
@media (min-width: 768px) {
  .main__hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .main__hero {
    gap: 1rem;
  }
}
.main__hero-img {
  height: 8.1rem;
  max-height: 8.1rem;
  width: 8.1rem;
  max-width: 8.1rem;
}
@media (min-width: 768px) {
  .main__hero-img {
    height: 12.5rem;
    max-height: 12.5rem;
    width: 12.5rem;
    max-width: 12.5rem;
  }
}
.main__hero-degree {
  font-family: "AveBold";
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2rem;
  color: #3F3C3C;
  margin: 0;
}
@media (min-width: 768px) {
  .main__hero-degree {
    font-size: 5rem;
    line-height: 2.75rem;
  }
}
.main__hero-tempName {
  font-family: "AveBold";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.12rem;
  color: #3F3C3C;
  margin: 0;
}
@media (min-width: 768px) {
  .main__hero-tempName {
    font-size: 2rem;
    line-height: 1.37rem;
  }
}
.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__container-humidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;
}
.main__container-humidity--icon {
  height: 2rem;
  max-height: 2rem;
  width: 2rem;
  max-width: 2rem;
  color: #1E6598;
}
@media (min-width: 768px) {
  .main__container-humidity--icon {
    height: 3rem;
    max-height: 3rem;
    width: 3rem;
    max-width: 3rem;
  }
}
.main__container-humidity--text {
  font-family: "AveBold";
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.12rem;
  color: #3F3C3C;
}
@media (min-width: 768px) {
  .main__container-humidity--text {
    font-size: 0.87rem;
    line-height: 1.37rem;
  }
}
.main__container-humidity--subtext {
  font-family: "AveReg";
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.25rem;
  color: #3F3C3C;
}
@media (min-width: 768px) {
  .main__container-humidity--subtext {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.main__container-wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;
}
.main__container-wind--icon {
  height: 2rem;
  max-height: 2rem;
  width: 2rem;
  max-width: 2rem;
  color: #1E6598;
}
@media (min-width: 768px) {
  .main__container-wind--icon {
    height: 3rem;
    max-height: 3rem;
    width: 3rem;
    max-width: 3rem;
  }
}
.main__container-wind--text {
  font-family: "AveBold";
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.12rem;
  color: #3F3C3C;
}
@media (min-width: 768px) {
  .main__container-wind--text {
    font-size: 0.87rem;
    line-height: 1.37rem;
  }
}
.main__container-wind--subtext {
  font-family: "AveReg";
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.25rem;
  color: #3F3C3C;
}
@media (min-width: 768px) {
  .main__container-wind--subtext {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}/*# sourceMappingURL=Main.css.map */